#productsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productCard {
    border: 1px solid #ccc;
    padding: 15px;
    width: 400px;
}

.cardActions, .formSection form {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
